h1 {
  font-family: 'Ceviche One', serif;
}

body {
  font-family: 'Montserrat', sans-serif;
}

body.server {
  background-color: #E5D276;
  color: #0C0A00;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

body.control {
  color: #E5D276;
  background-color: #312900;
}

pre#log {
  background-color: #0C0A00;
  color: #E5D276;
  border: thin solid #9A8934;
  overflow: hidden;
  height: 10rem;
  text-align: left;
  padding: 2px 4px;
}

.bg-black {
  background-color: #0C0A00;
}

.btn-switcher {
  display: block;
  border: thick solid #0c0a00;
  width: 6rem;
  height: 6rem;
  margin: 1rem;
  padding: .1rem;
  text-align: center;
}

.btn-switcher[data-switcher-active="true"] {
  background-color: #5eb75e !important;
}

.btn-switcher[data-switcher-selected="true"] {
  background-color: #805399;
  border-color: white;
}

#layerToggles, #variableValues, #rotatorControls {
  font-size: 1.5rem;
  max-height: 70vh;
  overflow-y: scroll;
}

#variableValues input {
  margin-top: 0rem;
}

#layerToggles .row, #variableValues .row {
  margin-bottom: .5rem;
}

.custom-control-label::before {
  width: 4rem;
}
